.container{
    display: grid;
    grid-template-columns: 280px 1fr;
}

.sidebar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
    overflow-y: visible;
    max-height: calc(100vh - 40px);
    overflow-x: hidden;
}
    
    .sidebar a{
        text-decoration: none;
        font-size: 1.3em;
        color: black;
        font-weight: 400;
        display: block;
        width: 220px;
        margin-bottom: 6px;
    }
    
    .sidebar p{
        text-align: center;
        color: rgb(113, 113, 113);
    }
    .sidebar a:hover{
        color: rgb(70, 70, 70);
        padding-left: 5px;
    }
a.newtask{
    background-color: #e3e3e3;
    display: inline-block;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 2px 30px;
    margin-bottom: 15px;
    width: 160px;
    
}
a.newtask:hover{
    background-color: #d0d0d0;
    display: inline-block;
    text-align: center;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 2px 30px;
    margin-bottom: 15px;
}
a.active{
    color: gray;
    padding-left: 15px;
}
a.active:hover{
    color: gray;
    padding-left: 15px;
}