.container{
    padding-top: 10px;
    text-align: center;
}
.header{
    margin-bottom: 5px;
    clear: right;
}
.header h2{
    color: rgb(70, 70, 70);
    font-size: 1.5em;
    font-weight: 600;
}
.header p{
    color: grey;
    font-size: 1.3em;
    font-weight: 400;
}

.buttoncontainer button{
    margin: 2px 2px;
    width: 130px;
    padding: 4px 0;
    background-color: #e3e3e3;
    border: none;
    color: rgb(70, 70, 70);
    font-size: 1.1em;
    cursor: pointer;
}
.buttoncontainer button.bluebutton{
    background-color: #0080DD;
    color: white;
}
.timer h1{
    font-size: 6em;
    font-weight: 500;
}
p.louding{
    color: gray;
}

div.events{
    float: right;
    display: inline;
    margin-right: 20px;
    margin-top: -5px;
}
div.events button{
    width: auto;
    background-color: transparent;
    margin-right: 20px;
    font-size: 1.3em;
}
div.events button.edit{
    color: #008d36;
}
div.events button.delete{
    color: #d10011;
}
div.events button:hover{
    font-weight: 500;
    text-decoration: underline;

}