.navbar{
    background-color: #0080DD;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0px 25px;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 45px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar button{
    width: 50px;
    align-items: center;
}
.navbar button svg{
    display: flex;
    align-items: center;
    justify-items: center;
}